.box {
    width: 100%;
    height: max-content;
}
.input {
    margin-top:30px ;
    width: 100%;
    height: 20px;
    background-color: aliceblue;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.drop {
    background-color: rgb(224, 241, 255);
    border: solid rgb(85, 85, 85) 0.5px;
    
}
.releaseDate {
    border-bottom: solid rgb(85, 85, 85) 0.5px;
}

