.games-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60vw;
    height: max-content;
    margin-top: 20px;
    margin-left: 20vw;
}
.game {
    width: 250px;
    height: 200px;
    justify-content: center;
    border:black solid 1px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
.title {
    font-size: 20px;
}
