.star-box {
    background-color: rgb(85, 85, 85);
    width: max-content;
    height: max-content;
    padding: 10px;
    color: white;
    border-radius: 20px;
    position: relative;
    top: 500px;
}
.stars {
    font-size: 50px; 
    position: relative;
    bottom: 4px;
    cursor: pointer;
}
@keyframes spin {
from {transform: rotate(0deg)}
to {transform: rotate(40deg);}
}
